@keyframes hero-section-move-left {
    from {
        transform: translateX(-50rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hero-section-move-right {
    from {
        transform: translateX(50rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes brands-slider-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-103%);
    }
}

@keyframes category-item-fade-animation {
    from {
        opacity: 0;
        transform: translateY(50px) scale(.1, .1);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }
}