@keyframes hero-section-move-left {
    from {
        transform: translateX(-50rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hero-section-move-right {
    from {
        transform: translateX(50rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes brands-slider-animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-103%);
    }
}