@import url(./animations.css);
@import url(./variables.css);

.main {
    background-color: var(--color-background);
}

.features {
    border: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .9rem;
    box-shadow: 0 0 12px rgba(15, 23, 42, 0.08);
}

.feature {
    display: flex;
    flex: 1 1 25%;
}

.feature-icon {
    font-size: 2.5rem;
    color: var(--color-primary);

}

.feature-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title {
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.feature-text {
    font-size: .75rem;
    color: var(--color-text-secondary);
}

.categories {}

.categories-title {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 1.9rem;
}



.category-list {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 40px;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 0 150px;
    border-radius: 1.75rem;
    padding: 10px;
    transition: box-shadow 300ms, transform 300ms;
}

.category-item:hover {
    box-shadow: 0 0 10px rgba(15, 23, 42, .1);
    transform: scale(1.05, 1.05);
}

.category-item>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.category-image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-circle-background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 60%;
    background-color: rgba(15, 23, 42, 0.08);
    margin: auto;
}

.category-title {
    flex: 0 0 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text-primary);
}


@media screen and (max-width:998px) {
    .feature {
        flex: 1 1 50%;
    }

    .features {
        bottom: -85px;
    }

    .category-list {
        gap: 20px;
    }

    .category-item {
        flex: 0 0 170px;
    }
}

@media screen and (max-width:768px) {
    .category-list {
        justify-content: flex-start;
    }
}

@media screen and (max-width:576px) {
    .feature {
        flex: 1 1 100%;
    }
}