@import url(./animations.css);
@import url(./variables.css);

.main {
    background-color: var(--color-background);
}

.features {
    border: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .9rem;
    box-shadow: 0 0 12px rgba(15, 23, 42, 0.08);
}

.feature {
    display: flex;
    flex: 1 1 25%;
}

.feature-icon {
    font-size: 2.5rem;
    color: var(--color-primary);

}

.feature-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title {
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.feature-text {
    font-size: .75rem;
    color: var(--color-text-secondary);
}

.categories {}

.categories-title {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 1.9rem;
}



.category-list {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 40px;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 0 150px;
    border-radius: 1.75rem;
    padding: 10px;
    transition: box-shadow 300ms, transform 300ms;
}

.category-item:hover {
    box-shadow: 0 0 10px rgba(15, 23, 42, .1);
    transform: scale(1.05, 1.05);
}

.category-item>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.category-image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-title {
    flex: 0 0 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.featured-products-title {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.featured-products-list {
    display: flex;
    gap: 35px;
    overflow-x: scroll;
}

.featured-products-list::-webkit-scrollbar {
    display: none;
}

.featured-products-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 250px;
    background-color: white;
    border-radius: 1.75rem;
    border: 1px solid var(--color-border);
}

.fp-image {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-image img {
    width: 150px;
    height: 150px;
    border-radius: 1.75rem;
}

.fp-title {
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--color-text-primary);
}

.fp-text {
    font-size: .8rem;
    line-height: 1.5;
    color: var(--color-text-secondary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.fp-rating {
    display: flex;
    gap: 15px;
    color: var(--color-text-secondary);
    font-size: .85rem;
    font-weight: 500;
}

.fp-rating-stars-icons .list-inline-item {
    position: relative;
    margin: 0;
}

.fp-rating-stars-icons .list-inline-item>svg {
    color: rgb(197, 196, 196);
    position: relative;
    z-index: 2;
}

.fp-rating-stars-icons .list-inline-item>span {
    display: inline-block;
    color: gold;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    min-height: 11.9px !important;
    overflow-x: hidden;
}

.test-show-star {
    z-index: 2 !important;
}

.fp-price .discounted-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.fp-price .without-discount-price {
    font-size: .85rem;
    color: var(--color-text-secondary);
    text-decoration: line-through;
}

.fp-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.fp-view-btn {
    text-decoration: none;
    font-size: .85rem;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 1rem;
    background-color: rgba(250, 250, 255);
    color: var(--color-text-primary) !important;
    cursor: pointer;
    transition: background-color 200ms;
}

.fp-view-btn:hover {
    background-color: rgba(240, 240, 255);
}

.fp-addtocard-btn {
    text-decoration: none;
    font-size: .85rem;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: white !important;
    cursor: pointer;
    transition: background-color 200ms;
}

.fp-addtocard-btn:hover {
    background-color: rgb(32, 85, 201);
}

.featured-products-page-link {
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    transition: background-color 200ms, color 200ms;
    font-weight: 600;
    font-size: .95rem;
}

.featured-products-page-link:hover {
    background-color: white;
    color: var(--color-primary);
}

@media screen and (max-width:998px) {
    .feature {
        flex: 1 1 50%;
    }

    .features {
        bottom: -85px;
    }

    .category-list {
        gap: 20px;
    }

    .category-item {
        flex: 0 0 170px;
    }
}

@media screen and (max-width:768px) {
    .category-list {
        justify-content: flex-start;
    }

    .featured-products-list {
        gap: 15px;
    }
}

@media screen and (max-width:576px) {
    .feature {
        flex: 1 1 100%;
    }
}