@import url(./animations.css);
@import url(./variables.css);

.main {
    background-color: var(--color-background);
}

.features {
    border: 1px solid var(--color-border);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: .9rem;
    box-shadow: 0 0 12px rgba(15, 23, 42, 0.08);
}

.feature {
    display: flex;
    flex: 1 1 25%;
}

.feature-icon {
    font-size: 2.5rem;
    color: var(--color-primary);

}

.feature-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-title {
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.feature-text {
    font-size: .75rem;
    color: var(--color-text-secondary);
}



.categories-title {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 1.9rem;
}



.category-list {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 40px;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 0 150px;
    border-radius: 1.75rem;
    padding: 10px;
    transition: box-shadow 300ms, transform 300ms;
}

.category-item:hover {
    box-shadow: 0 0 10px rgba(15, 23, 42, .1);
    transform: scale(1.1, 1.1);
}

.category-item>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.category-image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-title {
    flex: 0 0 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.featured-products-title {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.featured-products-list-container {
    position: relative;
}

.featured-products-list {
    display: flex;
    gap: 35px;
    overflow-x: scroll;
}

.featured-products-list::-webkit-scrollbar {
    display: none;
}

.featured-products-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 250px;
    background-color: white;
    border-radius: 1.75rem;
    border: 1px solid var(--color-border);
}

/* .fp-image {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.product-image {
    position: relative;
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .fp-image img {
    width: 150px;
    height: 150px;
    border-radius: 1.75rem;
} */

.product-image img {
    width: 150px;
    height: 150px;
    border-radius: 1.75rem;
}

/* .fp-title {
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    color: var(--color-text-primary);
} */

.product-title {
    font-size: 1rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    color: var(--color-text-primary);
}

/* .fp-text {
    font-size: .8rem;
    line-height: 1.5;
    color: var(--color-text-secondary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
} */

.product-text {
    font-size: .8rem;
    line-height: 1.5;
    color: var(--color-text-secondary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

/* .fp-rating {
    display: flex;
    gap: 15px;
    color: var(--color-text-secondary);
    font-size: .85rem;
    font-weight: 500;
} */

.rating {
    display: flex;
    gap: 15px;
    color: var(--color-text-secondary);
    font-size: .85rem;
    font-weight: 500;
}

/* .fp-rating-stars-icons .list-inline-item {
    position: relative;
    margin: 0;
} */

.rating-stars-icon .list-inline-item {
    position: relative;
    margin: 0;
}

/* .fp-rating-stars-icons .list-inline-item>svg {
    color: rgb(197, 196, 196);
    position: relative;
    z-index: 2;
} */

.rating-stars-icon .list-inline-item>svg {
    color: rgb(197, 196, 196);
    position: relative;
    z-index: 2;
}

/* .fp-rating-stars-icons .list-inline-item>span {
    display: inline-block;
    color: gold;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    min-height: 11.9px !important;
    overflow-x: hidden;
} */

.rating-stars-icon .list-inline-item>span {
    display: inline-block;
    color: gold;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    min-height: 11.9px !important;
    overflow-x: hidden;
}

.test-show-star {
    z-index: 2 !important;
}

.product-price .discounted-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.product-price .without-discount-price {
    font-size: .85rem;
    color: var(--color-text-secondary);
    text-decoration: line-through;
}

.fp-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.fp-view-btn {
    text-decoration: none;
    font-size: .85rem;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 1rem;
    background-color: rgba(250, 250, 255);
    color: var(--color-text-primary) !important;
    cursor: pointer;
    transition: background-color 200ms;
}

.fp-view-btn:hover {
    background-color: rgba(240, 240, 255);
}

.fp-addtocard-btn {
    text-decoration: none;
    font-size: .85rem;
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: white !important;
    cursor: pointer;
    transition: background-color 200ms;
}

.fp-addtocard-btn:hover {
    background-color: rgb(32, 85, 201);
}

.featured-products-page-link {
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    transition: background-color 200ms, color 200ms;
    font-weight: 600;
    font-size: .95rem;
}

.featured-products-page-link:hover {
    background-color: white;
    color: var(--color-primary);
}

.fp-prev-btn,
.fp-next-btn {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .87);
    color: var(--color-text-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 3;
}

.fp-prev-btn {
    left: 30px;
}

.fp-next-btn {
    right: 30px;
}

.prev-btn,
.next-btn {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .87);
    color: var(--color-text-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 3;
}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}

.special-offer-box {
    position: relative;
}

.special-offers {
    background-color: var(--color-primary);
    border-radius: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.special-offers-title {
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
}

.special-offers-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, .89);
    line-height: 1.3;
    line-height: 1.3;
}

.title-discount-percent {
    font-weight: 700;
    color: white;
}

.special-offers-shop-link {
    background-color: white;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 1.5rem;
    border: 1px solid var(--color-border);
    transition: background-color 100ms, color 100ms, border 100ms;

}

.special-offers-shop-link:hover {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid white;

}

.offer-timer-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.offered-products-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 30px;
}

.offered-products-container::-webkit-scrollbar {
    display: none;
}

.offered-product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 250px;
    background-color: white;
    border-radius: 1.75rem;
    border: 1px solid var(--color-border);
}

html[lang="en"] .offer-discount {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 1.5rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

html[lang="fa"] .offer-discount {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 1.5rem;
    position: absolute;
    top: 5px;
    left: 5px;
}


.special-offer-link {
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 1.3rem;
    border: 1px solid var(--color-border);
    cursor: pointer;
    transition: color 200ms, background-color 200ms;
}

.special-offer-link:hover {
    background-color: white;
    color: var(--color-primary);
}

.FAQ {
    background-image: linear-gradient(to bottom, rgba(76, 0, 130, 0) 30%, rgba(76, 0, 130, .08));
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.accordion-item-box {
    display: block;
}


.accordion-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1.4rem;
    font-weight: 600;
    border: 2px solid var(--color-border);
    background-color: white;
}

.accordion-title {
    margin: 0;
}

.question-icon {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
}

.question-text {
    line-height: 1.1;
    font-weight: 700;
}

.accordion-icon {
    transition: transform 150ms ease-out;
}

.accordion-icon--active {
    transform: rotateZ(180deg);
}

.accordion-description {
    max-height: 0;
    transition: max-height 250ms ease;
    overflow: hidden;
    background-color: rgba(161, 184, 233, 0.425);
}

.accordion-description.accordion--active {
    max-height: 300px;
}

.brands-slide-show {
    background-color: white;
}



.brands-list-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: hidden;
}

.brands-list-container::-webkit-scrollbar {
    display: none;
}

.brands-group {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    animation: brands-slider-animation 5s infinite linear;
}

.brands-group .brand {
    flex: 0 0 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand img {
    max-width: 100%;
    max-height: 100%;
}



@media screen and (max-width:1200px) {
    .FAQ {
        background-position: center !important;
    }
}

@media screen and (max-width:998px) {
    .feature {
        flex: 1 1 50%;
    }

    .features {
        bottom: -85px;
    }

    .category-list {
        gap: 20px;
    }

    .category-item {
        flex: 0 0 170px;
    }
}

@media screen and (max-width:768px) {
    .category-list {
        justify-content: flex-start;
    }

    .featured-products-list,
    .offered-products-container {
        gap: 15px;
    }

    .accordion-title-box {
        font-size: .9rem !important;
    }

}

@media screen and (max-width:576px) {
    .feature {
        flex: 1 1 100%;
    }
}