@import url(animations.css);
@import url(variables.css);

.products-main {
    background-color: var(--color-background);
}

.breadcrump-container {
    background-color: rgba(37, 99, 235, 0.05);
}

.breadcrumb-list {
    display: flex;
}

.breadcrumb-link {
    color: var(--color-text-secondary) !important;
}

.breadcrumb-item::before {
    color: var(--color-text-secondary) !important;
    font-size: 1.3rem !important;
}

.current-page {
    color: var(--color-text-primary) !important;
}

.breadcrumb-link {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.3rem;
    font-weight: 500;
}