@import url(animations.css);
@import url(variables.css);

.products-main {
    background-color: var(--color-background);
}

.breadcrump-container {
    background-color: rgba(37, 99, 235, 0.05);
}

.breadcrumb-list {
    display: flex;
}

.breadcrumb-link {
    color: var(--color-text-secondary) !important;
}

.breadcrumb-item::before {
    color: var(--color-text-secondary) !important;
    font-size: 1.3rem !important;
}

.current-page {
    color: var(--color-text-primary) !important;
}

.breadcrumb-link {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.3rem;
    font-weight: 500;
}

.products-main-container {
    flex-direction: column;
    align-items: center;
}

.toolbar {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-border);
}

.toolbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;

}

.product-count {
    color: var(--color-text-primary);
    flex: 0 0 30%;
}

.product-count h4 {
    font-size: 1.3rem;
}

.sort-selection-container {
    flex: 1 0 45%;
}

.sort-selection-form {
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.sort-selection-form label {
    flex: 0 0 70px;
    display: flex;
    align-items: center;
}

.sort-selection-form select {
    flex: 0 0 60%;
}

.filters-btn {
    padding: 5px 10px;
    color: white;
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: .5rem;
    transition: background-color 100ms, border 100ms, color 100ms;
    font-size: 1.2rem;
}

.filters-btn:hover {
    background-color: var(--color-primary-dark);
}

.filters-btn--active {
    color: var(--color-primary);
    background-color: white;
    border: 1px solid var(--color-primary);
}

.products-main-content {
    display: flex;
}

.products-filters-box {
    flex: 1 0 32%;
    max-width: 360px;
    background-color: white;
}

.categories-filter-title,
.price-filter-title {
    font-size: 1.23rem;
    font-weight: 600;
    color: var(--color-text-primary);

}

.category-check-text {
    font-size: .9rem;
}

.price-range .price-range-input {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.form-price-range::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, rgba(78, 148, 240, 0.716) 0%, rgba(78, 148, 240, 0.716) var(--price-range-progress, 50%), transparent var(--price-range-progress, 50%), transparent 100%);
}

.price-range-value {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-text-primary);
}

.price-range-value.disabled {
    color: rgba(100, 116, 139, 0.5);
}

.filters-submit-btn {
    background-color: var(--color-primary);
    color: white;
    border-radius: .4rem;
    border: 1px solid var(--color-border);
    outline: none;
    transition: background-color 100ms;
}

.filters-submit-btn:hover {
    background-color: rgb(33, 82, 188);
}

.products-cards-container {
    flex: 1 0 68%;
    display: flex;
    flex-direction: column;
}

.product-card-list {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}


.product-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    flex: 0 0 270px;
}

.product-item>article {
    display: flex;
    flex-direction: column;
}

.products-page-product-image img {
    width: 200px;
    height: 200px;
}


.product-view-link {
    width: 40%;
    padding: 5px 10px;
    background-color: rgba(250, 250, 255);
    color: var(--color-text-primary) !important;
    border: 1px solid var(--color-border);
    border-radius: .75rem;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}






@media screen and (max-width:1200px) {

    .product-item {
        flex: 0 0 235px;
    }
}

@media screen and (max-width:998px) {
    .product-item {
        flex: 0 0 48%;
    }
}

@media screen and (max-width:768px) {
    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toolbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 50%;
        width: 100%;
    }

    .sort-selection-form,
    .sort-selection-form * {
        justify-content: flex-end;
    }

    .filters-btn {
        margin-top: 10px;
    }

    .products-main-content {
        flex-direction: column;
    }

    .products-filters-box {
        width: 100%;
        max-width: none;
        flex: 1;
    }

    .products-cards-container {
        width: 100%;
        flex: 1;
    }

    .product-item {
        flex: 0 0 30%;
    }

}

@media screen and (max-width:576px) {
    .product-item {
        flex: 0 0 190px;
    }
}

@media screen and (max-width:425px) {
    .product-item {
        flex: 0 0 75%;
    }
}